<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Free Code Camp Back End Project</h1>
    <p>1. Timestamp Microservice: /timestamp</p>
  </body>
</html>
